<div class="dayview">
    <ion-slide-box class="dayview-slide" on-slide-changed="slideChanged($index)" does-continue="true"
                   show-pager="false" delegate-handle="dayview-slide">
        <ion-slide ng-repeat="view in views track by $index">
            <div class="dayview-allday-table">
                <div class="dayview-allday-label" ng-bind="::allDayLabel"></div>
                <ion-content class="dayview-allday-content-wrapper" has-bouncing="false" overflow-scroll="false">
                    <table class="table table-bordered dayview-allday-content-table">
                        <tbody>
                        <tr>
                            <td class="calendar-cell" ng-class="{'calendar-event-wrap':view.allDayEvents.length>0}"
                                ng-if="$index===currentViewIndex" ng-style="{height: 25*view.allDayEvents.length+'px'}">
                                <div ng-repeat="displayEvent in view.allDayEvents" class="calendar-event"
                                     ng-click="eventSelected({event:displayEvent.event})"
                                     ng-style="{top: 25*$index+'px',width: '100%',height:'25px'}"
                                     ng-include="::allDayEventTemplateUrl">
                                </div>
                            </td>
                            <td class="calendar-cell" ng-if="$index!==currentViewIndex">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </ion-content>
            </div>
            <ion-content class="dayview-normal-event-container" has-bouncing="false" overflow-scroll="false">
                <table class="table table-bordered table-fixed dayview-normal-event-table"
                       ng-if="$index===currentViewIndex">
                    <tbody>
                    <tr ng-repeat="tm in view.rows track by $index">
                        <td class="calendar-hour-column text-center">
                            {{::tm.time | date: formatHourColumn}}
                        </td>
                        <td class="calendar-cell" ng-click="select(tm.time, tm.events)">
                            <div ng-class="{'calendar-event-wrap': tm.events}" ng-if="tm.events">
                                <div ng-repeat="displayEvent in tm.events" class="calendar-event"
                                     ng-click="eventSelected({event:displayEvent.event})"
                                     ng-style="{top: (37*displayEvent.startOffset/hourParts)+'px', left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'}"
                                     ng-include="::normalEventTemplateUrl">
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-fixed dayview-normal-event-table"
                       ng-if="$index!==currentViewIndex">
                    <tbody>
                    <tr ng-repeat="tm in view.rows track by $index">
                        <td class="calendar-hour-column text-center">
                            {{::tm.time | date: formatHourColumn}}
                        </td>
                        <td class="calendar-cell">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ion-content>
        </ion-slide>
    </ion-slide-box>
</div>
