<div class="weekview">
    <ion-slide-box class="weekview-slide" on-slide-changed="slideChanged($index)" does-continue="true"
                   show-pager="false" delegate-handle="weekview-slide">
        <ion-slide ng-repeat="view in views track by $index">
            <table class="table table-bordered table-fixed weekview-header">
                <thead>
                <tr>
                    <th class="calendar-hour-column"></th>
                    <th class="weekview-header text-center" ng-repeat="dt in view.dates">{{::dt.date| date:
                        formatWeekViewDayHeader}}
                    </th>
                </tr>
                </thead>
            </table>
            <div ng-if="$index===currentViewIndex">
                <div class="weekview-allday-table">
                    <div class="weekview-allday-label" ng-bind="::allDayLabel">
                    </div>
                    <ion-content class="weekview-allday-content-wrapper" has-bouncing="false" overflow-scroll="false">
                        <table class="table table-fixed weekview-allday-content-table">
                            <tbody>
                            <tr>
                                <td ng-repeat="day in view.dates track by day.date" class="calendar-cell">
                                    <div ng-class="{'calendar-event-wrap': day.events}" ng-if="day.events"
                                         ng-style="{height: 25*day.events.length+'px'}">
                                        <div ng-repeat="displayEvent in day.events" class="calendar-event"
                                             ng-click="eventSelected({event:displayEvent.event})"
                                             ng-style="{top: 25*displayEvent.position+'px', width: 100*(displayEvent.endIndex-displayEvent.startIndex)+'%', height: '25px'}"
                                             ng-include="::allDayEventTemplateUrl">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </ion-content>
                </div>
                <ion-content class="weekview-normal-event-container" has-bouncing="false" overflow-scroll="false">
                    <table class="table table-bordered table-fixed weekview-normal-event-table">
                        <tbody>
                        <tr ng-repeat="row in view.rows track by $index">
                            <td class="calendar-hour-column text-center">
                                {{::row[0].time | date: formatHourColumn}}
                            </td>
                            <td ng-repeat="tm in row track by tm.time" class="calendar-cell" ng-click="select(tm.time, tm.events)">
                                <div ng-class="{'calendar-event-wrap': tm.events}" ng-if="tm.events">
                                    <div ng-repeat="displayEvent in tm.events" class="calendar-event"
                                         ng-click="eventSelected({event:displayEvent.event})"
                                         ng-style="{top: (37*displayEvent.startOffset/hourParts)+'px',left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'}"
                                         ng-include="::normalEventTemplateUrl">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </ion-content>
            </div>
            <div ng-if="$index!==currentViewIndex">
                <div class="weekview-allday-table">
                    <div class="weekview-allday-label" ng-bind="::allDayLabel"></div>
                    <ion-content class="weekview-allday-content-wrapper" has-bouncing="false" overflow-scroll="false">
                        <table class="table table-fixed weekview-allday-content-table">
                            <tbody>
                            <tr>
                                <td ng-repeat="day in view.dates track by day.date" class="calendar-cell">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </ion-content>
                </div>
                <ion-content class="weekview-normal-event-container" has-bouncing="false" overflow-scroll="false">
                    <table class="table table-bordered table-fixed weekview-normal-event-table">
                        <tbody>
                        <tr ng-repeat="row in view.rows track by $index">
                            <td class="calendar-hour-column text-center">
                                {{::row[0].time | date: formatHourColumn}}
                            </td>
                            <td ng-repeat="tm in row track by tm.time" class="calendar-cell">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </ion-content>
            </div>
        </ion-slide>
    </ion-slide-box>
</div>